<!--
Copyright  2012  Ali Ok (aliokATapacheDOTorg)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
{% extends "basetemplate.jinja2" %}
{% block content %}

    <div class="well" style="text-align: center;">
        <h3>{{ corpus_name }}</h3>
        <h4>{{ corpus_description }}</h4>
        <h4>Length: {{ corpus_length }} words</h4>
        <h4>Non-parsed count: {{ count_nonparsed }}</h4>
    </div>

    <div class="well" style="text-align: center;">
        <h3>
            {% for word in words %}
                {% set clazz = {True:'text-success', False : 'text-error'}[word.parsed] %}
                {% set parse_result = {True:word.parse_result, False : ''}[word.parsed] %}
                <span style="margin-right: 5pt;" class="context-word {{ clazz }}" data-word-id="{{ word._id }}"
                      data-parse-result="{{ parse_result }}">
                    {{ word.surface }}
                </span>
            {% endfor %}
        </h3>
    </div>

{% endblock %}

{% block script %}
    <script src="/resources/js/script.js"></script>
    <script>
        $(document).ready(function() {
            initializeLearnerPage();
        });
    </script>
{% endblock %}