<!DOCTYPE html>
<html>
<head>
    <title>TRNLTK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/resources/thirdparty/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <h1>TRNLTK Supervised Morphological Parsing <small>Turkish Natural Language Toolkit</small></h1>
    </div>
    <a href="learner?corpusId=5081dbba49002441da000000&wordIndex=0">Go to learner for corpus 5081dbba49002441da000000</a>
</div>
<script src="/resources/thirdparty/js/jquery.min.js"></script>
<script src="/resources/thirdparty/js/bootstrap.min.js"></script>


</body>
</html>