<!--
Copyright  2012  Ali Ok (aliokATapacheDOTorg)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
{% extends "basetemplate.jinja2" %}
{% block content %}
<div class="well" style="text-align: center;">
    <form action="corpusCreator" method="post">
        <legend><h2 class="text-success">Create a new corpus</h2></legend>

        <label>Corpus name</label>
        <input class="input-xxlarge" required="required" name="corpusName" type="text" placeholder="Unique corpus name"/>

        <label>Corpus Description</label>
        <input class="input-xxlarge" name="corpusDescription" type="text"/>

        <label>Content</label>
        <textarea class="input-xxlarge" name="corpusContent" rows="5"></textarea>

        <br/>
        <button type="submit" class="btn btn-large btn-success">
            <i class="icon-plus-sign icon-white"></i>
            Create
        </button>
    </form>
</div>
<div style="text-align: center">
    <h2>OR</h2>
</div>
<div class="well">
    <table class="table table-striped">
        <caption>
            <legend>
                <h2 class="text-info">Train an existing one</h2>
            </legend>
        </caption>
        <thead>
        <tr>
            <th>
                Corpus Id
            </th>
            <th>
                Corpus Name
            </th>
            <th>
                Description
            </th>
            <th>
                Number of words
            </th>
            <th>
                Parse percent
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
        </thead>
        <tbody>
        {% if corpora is not defined %}
            <tr><td colspan="6">No corpus found! Please add one above!</td></tr>
        {% endif %}

        {% for corpus in corpora %}
        <tr>
            <td>
                {{ corpus.id }}
            </td>
            <td>
                {{ corpus.name }}
            </td>
            <td>
                {{ corpus.description }}
            </td>
            <td>
                {{ corpus.word_count }}
            </td>
            <td>
                {{ corpus.parse_percent }}
            </td>
            <td>
                <a href="corpusReader?corpusId={{ corpus.id }}"
                   class="btn btn-large btn-primary">
                    <i class="icon-play icon-white"></i>
                    Read
                </a>
            </td>
            <td>
                <a href="learner?wordId={{ corpus.id_of_first_word }}"
                   class="btn btn-large btn-primary">
                    <i class="icon-play icon-white"></i>
                    Train
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#navbar-item-index').addClass('active');
    });
</script>
{% endblock %}