{% import "metricmacros/parseresultdetails.jinja2" as parse_result_details with context %}

{{ parse_result_details.likelihood_matrix(calculation_context, parse_result_uuid) }}

<script src="/resources/js/script.js"></script>
<script>
    $(document).ready(function () {
        initializeLikelihoodDetails();
    });
</script>