{% macro likelihood_matrix(calculation_context) -%}
{% if calculation_context.leading %}
{{ _render_one_way_likelihood_matrix(calculation_context.leading, True) }}
{% endif %}
{% if calculation_context.following %}
{{ _render_one_way_likelihood_matrix(calculation_context.following, False) }}
{% endif %}

{{ _render_two_way_sum(calculation_context) }}

{%- endmacro %}

{% macro _render_two_way_sum(calculation_context) -%}
<math display="block" xmlns="http://www.w3.org/1998/Math/MathML"
      xmlns:schemaLocation="http://www.w3.org/Math/XMLSchema/mathml3/mathml3.xsd">
    <mrow>
        <mi>&Lscr;</mi>
        <mo>=</mo>
        <mfenced close="]" open="[">
            <mtable>
                <mtr>
                    <mtd>
                        <mn>{{ calculation_context['weight_leading_context'] }}</mn>
                    </mtd>
                    <mtd>
                        <mn>{{ calculation_context['weight_following_context'] }}</mn>
                    </mtd>
                </mtr>
            </mtable>
        </mfenced>
        <mo>&#x22c5;</mo>
        <mfenced close="]" open="[">
            <mtable>
                <mtr>
                    <mtd>
                        <msub>
                            <mi>&Lscr;</mi>
                            <mi>leading</mi>
                        </msub>
                    </mtd>
                </mtr>
                <mtr>
                    <mtd>
                        <msub>
                            <mi>&Lscr;</mi>
                            <mi>following</mi>
                        </msub>
                    </mtd>
                </mtr>
            </mtable>
        </mfenced>
        <mo>=</mo>
        <mn>{{ calculation_context['sum_likelihood'] }}</mn>
    </mrow>
</math>
{%- endmacro %}

{% macro _render_one_way_likelihood_matrix(one_way_calculation_context, is_leading) -%}
{% for one_way_calculation_context_item_key in one_way_calculation_context['possibilities'] %}
{{ one_way_calculation_context_item_key }}
{{ _render_one_way_likelihood_possibility_matrix(one_way_calculation_context['possibilities'][one_way_calculation_context_item_key], loop.index0, is_leading) }}
{% endfor %}
{{ _render_one_way_likelihood_possibility_sum(one_way_calculation_context, is_leading) }}
{%- endmacro %}

{% macro _render_one_way_likelihood_possibility_sum(one_way_calculation_context_item, is_leading) -%}
<math display="block" xmlns="http://www.w3.org/1998/Math/MathML"
      xmlns:schemaLocation="http://www.w3.org/Math/XMLSchema/mathml3/mathml3.xsd">
    <mrow>
        <msub>
            <mi>&Lscr;</mi>
            <mi>{{ {True:'leading', False:'following'}[is_leading] }}</mi>
        </msub>
        <mo>=</mo>
        <munderover>
            <mo>&Sum;</mo>
            <mrow>
                <mi>i</mi>
                <mo>=</mo>
                <mn>0</mn>
            </mrow>
            <mn>...</mn>
        </munderover>
        <msub>
            <mi>&Lscr;</mi>
            <msub>
                <mi>{{ {True:'leading', False:'following'}[is_leading] }}</mi>
                <mi>i</mi>
            </msub>
        </msub>
        <mo>=</mo>
        <mn>{{ one_way_calculation_context_item['sum_likelihood'] }}</mn>
    </mrow>
</math>
{%- endmacro %}

{% macro _render_one_way_likelihood_possibility_matrix(one_way_calculation_context_item, item_index, is_leading) -%}
{% for context_word_key in one_way_calculation_context_item['context_words'] %}
{{ one_way_calculation_context_item['context_words'][context_word_key] }}
</br>
{% endfor %}
<math display="block" xmlns="http://www.w3.org/1998/Math/MathML"
      xmlns:schemaLocation="http://www.w3.org/Math/XMLSchema/mathml3/mathml3.xsd">
    <mrow>
        <msub>
            <mi>&Lscr;</mi>
            <mi>{{ {True:'leading', False:'following'}[is_leading] }}{{ item_index }}</mi>
        </msub>
        <mo>=</mo>
        <msup>
            <mfenced close=")" open="(">
                <mrow>
                    <mfenced close="]" open="[">
                        <mtable>
                            <mtr>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[0][0] }}</mn>
                                </mtd>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[0][1] }}</mn>
                                </mtd>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[0][2] }}</mn>
                                </mtd>
                            </mtr>
                            <mtr>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[1][0] }}</mn>
                                </mtd>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[1][1] }}</mn>
                                </mtd>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[1][2] }}</mn>
                                </mtd>
                            </mtr>
                            <mtr>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[2][0] }}</mn>
                                </mtd>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[2][1] }}</mn>
                                </mtd>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.target_form_probabilities[2][2] }}</mn>
                                </mtd>
                            </mtr>
                        </mtable>
                    </mfenced>
                    <mo>&#x22c5;</mo>
                    <mfenced close="]" open="[">
                        <mtable>
                            <mtr>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.coefficients_target_form_given_context[0][0] }}</mn>
                                    <mo>x</mo>
                                    <mn>{{ one_way_calculation_context_item.coefficients_target_given_context_form[0][0] }}</mn>
                                </mtd>
                            </mtr>
                            <mtr>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.coefficients_target_form_given_context[0][1] }}</mn>
                                    <mo>x</mo>
                                    <mn>{{ one_way_calculation_context_item.coefficients_target_given_context_form[0][1] }}</mn>
                                </mtd>
                            </mtr>
                            <mtr>
                                <mtd>
                                    <mn>{{ one_way_calculation_context_item.coefficients_target_form_given_context[0][2] }}</mn>
                                    <mo>x</mo>
                                    <mn>{{ one_way_calculation_context_item.coefficients_target_given_context_form[0][2] }}</mn>
                                </mtd>
                            </mtr>
                        </mtable>
                    </mfenced>
                </mrow>
            </mfenced>
            <mo>T</mo>
        </msup>
        <mo>&#x22c5;</mo>
        <mfenced close="]" open="[">
            <mtable>
                <mtr>
                    <mtd>
                        <mn>1</mn>
                    </mtd>
                    <mtd>
                        <mn>1</mn>
                    </mtd>
                    <mtd>
                        <mn>1</mn>
                    </mtd>
                </mtr>
            </mtable>
        </mfenced>
        <mo>=</mo>
        <mn>{{ one_way_calculation_context_item.weight_summed_target_probability[0][0] }}</mn>
    </mrow>
</math>

{%- endmacro %}


{{ likelihood_matrix(calculation_context) }}