.current-word {
    background-color: yellow;
    border: 1px solid #000000;
    padding: 5px;
    margin: 10px;
    font-size: 130%
}

.parse-result {
    word-wrap: break-word;
    width: 30em;
    font-size: 130%
}