<!DOCTYPE html>
<html>
<head>
    <title>TRNLTK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/resources/thirdparty/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <h1>TRNLTK Supervised Morphological Parsing <small>Turkish Natural Language Toolkit</small></h1>
    </div>

    <div class="well" style="text-align: center;">
        <h4 class="muted context-sentence" data-sentence-id="{{ previous_sentence.id }}">
            {{ previous_sentence.str }}
        </h4>
        <h3>
            {% for context_word in leading_context_words %}
                {% set clazz = {True:'text-success', False : 'text-error'}[context_word.parsed] %}
                <span class="context-word {{ clazz }}" data-word-id="{{ context_word.id }}"
                      data-parse-result="{{ context_word.parse_result }}">
                    {{ context_word.surface }}
                </span>
            {% endfor %}
            <strong class="current-word">{{ target_surface }}</strong>
            {% for context_word in following_context_words %}
                {% set clazz = {True:'text-success', False : 'text-error'}[context_word.parsed] %}
                <span class="context-word {{ clazz }}" data-word-id="{{ context_word.id }}"
                      data-parse-result="{{ context_word.parse_result }}">
                    {{ context_word.surface }}
                </span>
            {% endfor %}
        </h3>
        <h4 class="muted context-sentence" data-sentence-id="{{ next_sentence.id }}">
            {{ next_sentence.str }}
        </h4>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Likelihood percentage</th>
            <th>Likelihood value</th>
            <th>Parse result</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        {% for parse_result_container in parse_result_containers %}
        <tr>
            <td style="width:100px;">
                <div class="progress progress-{{ parse_result_container.likelihood_percentage_color }} progress-striped">
                    <div class="bar" style="width: {{ parse_result_container.likelihood_percentage }}%;"></div>
                </div>
            </td>
            <td>{{ parse_result_container.likelihood_percentage }}%</td>
            <td><a href="#" class="btn btn-{{ parse_result_container.likelihood_value_color }} ajaxFocusPopover"
                   rel="popover" data-load="index.html">{{ parse_result_container.likelihood_value }}</a></td>
            <td>{{ parse_result_container.formatted_parse_result }}</td>
            <td><button class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Mark as Correct</button></td>
        </tr>
        {% endfor %}
    </table>

    <ul class="pager">
        <li class="previous {{ style_class_previous_button }}">
            <a href="#">&larr; Previous non-parsed word</a>
        </li>
        <li><strong class="text-success">{{ index }} of {{ count_not_parsed }} non-parsed</strong></li>
        <li class="next {{ style_class_next_button }}">
            <a href="#">Next non-parsed word&rarr;</a>
        </li>
    </ul>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/resources/thirdparty/js/bootstrap.min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_HTMLorMML.js"></script>
<script src="/resources/js/script.js"></script>

</body>
</html>